*{
	padding:0;
	margin:0;
}
body{
	padding:0;
}
#myContent{
	margin-top:0;
	padding-left:0;
	padding-bottom:10px;
}

#myContent #myTag{
	padding-bottom: 10px;
	margin:0;
	border-bottom: 2px solid #F44336;
}



#listWrap{
	// border-bottom: 2px solid red;
	// overflow: hidden;
	// box-shadow: 0 2px 2px 2px red;
	border-bottom: 1px solid #E0E0E0;
	height:480px;
	overflow: hidden;
	position:relative;
}
#myList{
	list-style: none;
	padding:0;
	// padding-top:20px;
	margin:0;
	// overflow: hidden;
	position: absolute;
	transition:all .5s ease;
	// top:-23px;
	// border-bottom: 1px solid #E0E0E0;
}
#myList li{
	float:left;
	position:relative;
	width:150px;
	height:150px;
	overflow: hidden;
	margin:10px 8px 0px 8px;
	top:0;
	transition:all .5s ease-in-out;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
}
#myList li:hover{
	top:-5px;
	box-shadow: 0 0 10px 5px #e1e1e1;
}
#myList li img{
	max-width: 100%;
}

.myFace{
	text-align: center;
}
.myFace img{
	width:120px;
	height:120px;
	border-radius: 50% 50%;
	box-shadow: 0 0 10px 2px #919191;
	transition:all .5s ease-in-out;
}
.myFace img:hover{
	box-shadow: 0 0 10px 2px #009688;
}

.top{
	width:100%;
	height:300px;
	background:url('../myimages/bg/1.jpg') no-repeat;
	background-size:cover;
	margin-bottom:20px;
}

.top p{
	font-size: 3em;
	color:white;
}

footer{
	clear:both;
}
header{
	text-align: center;
}


#myMore{
	// text-align: center;
}
#myMore .mySlide{
	padding:10px;
	cursor: pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
#myMore .mySlide:hover{
	color:#4CAF50;
}
#myMore .mySlide:first-child{
		float: left;
}
#myMore .mySlide:last-child{
		float: right;
}